<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="style/app.css">
</head>
<body>
    
<nav class="navbar">
    <p>Express with code </p>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/form">Form</a></li>
        <li><a href="/login">Login</a></li>
     <% if (session.auth) { %>
      <li><a href="/logout">Logout</a></li>
     <% } %>
 
    </ul>
</nav>